body {
    background-color: #a7a9ab;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 70%;
    margin: auto;
}

/*HEADER*/

.header_wrapper {
    background-color: #87807a;
    padding: 0.4rem;
    margin-top: 5vh;
}

.header_text {
    font-size: 1.1rem;
    padding: 1.5vh 1.5vw;
}

/*MAIN*/

.main_wrapper {
    background-color: #e2d6ca;
}

.accordeon {
    margin: 0 1.5vw;
    padding-bottom: 3vh;
}

/*ACCORDEON-ITEM*/

.accordeon_item {
    padding: 1.5vh 0;
    border-bottom: 0.1em solid black;
}

.accordeon_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    width: 100%;
    height: 100%;
}

.text {
    max-width: 80%;
    transition: all 0.5s;
    color: rgb(211, 134, 32);
}

.accordeon_input {
    appearance: none;
    display: none;
}

.accordeon_input:checked~.accordeon_title .plus_icon {
    transform: rotate(45deg);
}

.accordeon_mem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mem_img {
    transition: all 2s;
    opacity: 0;
    width: 0%;
    height: 0%;
}

.accordeon_input:checked~label .mem_img {
    opacity: 1;
    width: 40%;
    height: 40%;
    padding: 1em 0;
}

.plus_icon {
    opacity: 0;
    transition: all 1s;
}

.accordeon_mem,
.accordeon_title,
.accordeon,
.mem_img,
.accordeon_mem {
    cursor: pointer;
}

.accordeon_input:checked~label .text {
    color: black;
}

.accordeon_item:active {
    background-color: rgb(211, 134, 32, 0.2);
}

.accordeon_item:active .accordeon_title .text {
    color: rgb(211, 134, 32);
}

@media(hover: hover) {

    .accordeon_item:hover .text {
        color: rgb(211, 134, 32);
    }

    .accordeon:hover .plus_icon {
        background: url("../assets/plus.png") center/cover no-repeat;
        opacity: 1;
        width: 0.8em;
        height: 0.8em;
    }

    .accordeon:hover .text {
        color: black;
    }

    .accordeon_item:hover .mem_img {
        opacity: 1;
        width: 40%;
        height: 40%;
        padding: 1em 0;
    }

    .accordeon_item:hover .plus_icon {
        transform: rotate(45deg);
    }
}

@media(max-width: 820px) {

    .wrapper {
        max-width: 80%;
    }

    .header_text {
        font-size: 0.9rem;
    }

    .accordeon_title {
        font-size: 1.5em;
    }

    .plus_icon {
        background: url("../assets/plus.png") center/cover no-repeat;
        opacity: 1;
        width: 0.8em;
        height: 0.8em;
    }

    .accordeon_input:checked~label .mem_img {
        width: 50%;
        height: 50%;
    }
}

@media(max-width: 450px) {

    .header_text {
        font-size: 0.8rem;
    }

    .accordeon_title {
        font-size: 1.2em;
    }

    .plus_icon {
        width: 0.7em;
        height: 0.7em;
    }

    .accordeon_input:checked~label .mem_img {
        width: 70%;
        height: 70%;
        padding: 0.7em 0;
    }
}

@media(max-width: 360px) {
    .header_text {
        font-size: 0.6rem;
    }

    .accordeon_title {
        font-size: 1em;
    }
}