body{
    background-color: #a7a9ab;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 70%;
    margin: auto;
}

/*HEADER*/

.header_wrapper{
    background-color: #87807a;
    padding: 0.4rem;
    margin-top: 5vh;
}

.header_text{
    font-size: 1.1rem;
    padding: 1.5vh 0;
}

/*MAIN*/

.main_wrapper{
    background-color: #e2d6ca;
}

.accordeon{
    width: 100%;
    padding: 0 1.5vw;
    padding-bottom: 3vh;
}

/*ACCORDEON-ITEM*/

.accordeon_item{
    padding: 1.5vh 0;
    border-bottom: 0.1em solid black;
}

.accordeon_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8em;
    width: 100%;
    height: 100%;
}

.text{
    max-width: 80%;
    transition: all 2s;
}

.accordeon_input{
    appearance: none;
    position: absolute;
}

.accordeon_input:checked~ .accordeon_title .plus_icon,
.accordeon_item:hover .plus_icon{
    transform: rotate(45deg);
}

.accordeon_mem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mem_img{
    transition: all 2s;
    opacity: 0;
    width: 0%;
    height: 0%;
}

.accordeon_input:checked~label .mem_img,
.accordeon_item:hover .mem_img{
    opacity: 1;
    width: 40%;
    height: 40%;
    padding: 0.5em 0;
}

.plus_icon{
    opacity: 0;
    transition: all 1s;
}

.accordeon_mem,
.accordeon_title,
.accordeon,
.mem_img,
.accordeon_mem{
    cursor: pointer;
}

.accordeon:hover .plus_icon{
    background: url("/cssBayan/assets/plus.png") center/cover no-repeat;
    opacity: 1;
    width: 0.8em;
    height: 0.8em;
}

.accordeon_input:checked~label .text,
.accordeon_item:hover .text{
    color:rgb(242, 158, 48);
}